@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Arabic:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply antialiased text-black bg-white;
  }
}

.selection\:bg-black ::selection {
  background-color: black;
  color: white;
}
